.footer__top--bg{
    background-image: url('/assets/images/footer_top.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 517px;

    .footer__top{
        padding-top: 69px;
        
    h2{
        font-family: 'Montserrat';
font-size: 23px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
color: #333333;
text-transform: uppercase;
    }
    hr{
        width: 80px;
        height: 2px;
        margin-left: 430px;
        margin-top: 25px;
        background-color: rgba(0, 0, 0, 0.09);
        border: none;
    }

    .card{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 60px;

        .box{
            width: 319.98px;
            height: 260px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
h3{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
color: #333333;   
margin-top: 30px; 
}
p{
    font-family: 'Vollkorn';
font-size: 17px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
color: #212121;
margin-top: 20px;
}
li{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
}
a{
    font-family: 'Vollkorn';
font-size: 17px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
color: #212121; 
}
        }
    }
    }
}